
/* background for main body */
.grandfather {
    padding: 5px;
    color: rgb(197, 191, 191);
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.child{
    display: flex;
}
.aboutme {
    border: 4px;
    width: 100%;
    display: flex;
}
.gdchild {
    border: 4px;
    width: 90%;
    font-size: 30px ;
}
.gdchild p {
    display: flex;
    text-align: justify;
    border: 4px;
    width: 100%;
    font-size: 20px ;
}
h3 {
    font-size: 50px;
}
