.work {
    display: flex;
}
.refactor {
    max-width: 100%;
    height: auto;
    max-height: 310px;
    width: 400px;
    height: 400px;
    background-image: url('https://via.placeholder.com/150');
    margin: 2%;
    border-radius: 10px;
}
h4 {
    color: rgb(15, 98, 131);
    font-size: 30px;
}
.scratch {
    max-width: 100%;
    height: auto;
    max-height: 310px;
    width: 400px;
    height: 400px;
    background-image: url('https://via.placeholder.com/150');
    margin: 2%;
    border-radius: 10px;
}
.mywebsite{
    max-width: 100%;
    height: auto;
    max-height: 310px;
    width: 400px;
    height: 400px;
    background-image: url('https://via.placeholder.com/150');
    margin: 2%;
    border-radius: 10px;
}